@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://deepskyworkflows.com/" target="_blank">Deep Sky Workflows</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
