div.card {
    width: 20em;
    min-height: 10em;
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    font-size: 0.8em;
    border: solid 0.25em lightgray;
}
.selectable {
    cursor: pointer;
}
.selectable:hover {
    border: solid 0.25em gray;
    background: lightblue;
}
.selected {
    border: solid 0.25em red;
    background: lightyellow;
}
.card-title {
    text-align: right;
    border: solid 1px grey;
    background: lightgray;
    font-size: 1.2em;
    font-weight: bold;
}
.card-title div {
    margin-top: 1em;
    margin-right: 1em;
}
p {
    text-align: center;
    margin: 0.2em;
}
.lenText {
    font-size: 0.8em;
}
.thread {
    color: red;
}
.clickable:hover
{
    color: blue;
}