h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
}

.grid {
    height: 70vh;
    overflow-y: scroll;
    font-size: 0.8em;
}

.filters {
    height: 20vh;
    overflow-y: scroll;
}

.row {
    width: 98%;
    margin-left: 1%;    
}

.detail {
    background: inherit;
}

.detail:hover {
    background: lightgray;
}

.clickable {
    cursor: pointer;
}

div.col-1, .col-2, .col-5, .col-7 {
    border: solid 1px black;
    overflow: clip;
}

div.oi {
    float: left;
}