.stat {
    float: left;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px gray;
    width: 20em;
    max-width: 20em;    
}

.label {
    text-align: center;
    background: lightgray;
}

.value {
    text-align: center;
    font-weight: bold;
}

.blue {
    background: lightblue;
}

.green {
    background: lightgreen;
}

.red {
    background: coral;
}